<section>
  <header>
    Orginizer: <strong> saqssasaSSSSSKALKDNK</strong>
    <hr />
  </header>

  <main>
    <ul>
      <li class="task">
        <span>
          <strong>1</strong>
          kjguugu
        </span>
        <button class="btn btn-primary">
          Remove
        </button>
      </li>
    </ul>
  </main>

  <footer>
    <form>
      <input type="text">

      <button type="submit"
      CLASS="btn btn-block btn-primary"
      >
        Add
      </button>
    </form>
  </footer>
</section>
